In [37]:
import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from census import Census
import gmaps

api_key = "kV2lYppgddbyaMoNreFR6hxbubjOGddvOoCyFKIG"
api_key2 = "425951fc7a74b45092e6266ba28aec4581a8fee3"
gkey = "AIzaSyDsZ-P1HFh5IT8xGm6T16-QUSXVIcaNcyY"

In [6]:
offense = "simple_assault"
ori = "NJ0111100"
variable = "count"
begin_year = 2018
end_year = 2018

url  = f"https://api.usa.gov/crime/fbi/sapi/api/data/arrest/agencies/offense/{ori}/all/{begin_year}/{end_year}?API_KEY={api_key}"

response = requests.get(url).json()
response

{'results': [{'aggravated_assault': 214,
   'all_other_offenses': 1461,
   'arson': 3,
   'burglary': 67,
   'curfew': 32,
   'disorderly': 111,
   'driving': 106,
   'drug_abuse_gt': 1162,
   'drug_poss_m': 346,
   'drug_poss_opium': 216,
   'drug_poss_other': 3,
   'drug_poss_subtotal': 565,
   'drug_poss_synthetic': 0,
   'drug_sales_m': 30,
   'drug_sales_opium': 566,
   'drug_sales_other': 1,
   'drug_sales_subtotal': 597,
   'drug_sales_synthetic': 0,
   'drunkness': 0,
   'embezzlement': 2,
   'forgery': 1,
   'fraud': 2,
   'g_all': 0,
   'g_b': 3,
   'g_n': 0,
   'g_t': 3,
   'ht_c_s_a': 0,
   'ht_i_s': 0,
   'larceny': 92,
   'liquor': 4,
   'manslaughter': 0,
   'mvt': 0,
   'murder': 8,
   'offense_family': 7,
   'prostitution': 19,
   'prostitution_a_p_p': 0,
   'prostitution_p': 10,
   'prostitution_p_p': 0,
   'rape': 6,
   'robbery': 70,
   'sex_offense': 12,
   'simple_assault': 652,
   'stolen_property': 125,
   'suspicion': 0,
   'vagrancy': 0,
   'vandalism': 22,
   'weapons': 164,
   'csv_header': None,
   'data_year': 2018}],
 'pagination': {'count': 1, 'page': 0, 'pages': 1, 'per_page': 0}}

In [13]:
assaults_response = response["results"][0]["simple_assault"]
assaults_response

652

In [63]:
simple_assault_cases = []
stolen_property_cases = []
rape_cases = []
ori_list = ["AL0030100",
            "AK0010300",
            "AZ0072300",
            "AR0600200",
            "CA0340400",
            "CODPD0000",
            "CT0006400",
            "DE0010100",
            "FL0370300",
            "GAAPD0000",
            "HI0020000",
            "ID0010100",
            "IL0840200",
            "INIPD0000",
            "IA0770300",
            "KS0890100",
            "KY0370100",
            "LA0170200",
            "ME0060100",
            "MD0020100",
            "MA0130100",
            "MI3351900",
            "MN0620900",
            "MS0250100",
            "MO0260100",
            "MT0250100",
            "NB0550100",
            "NV0130000",
            "NH0071600",
            "NJ0111100",
            "NM0260100",
            "NY0010100",
            "NC0920100",
            "ND0080100",
            "OHCOP0000",
            "OK0550400",
            "OR0240200",
            "PA0220200",
            "RI0010200",
            "SC0400100",
            "SD0320100",
            "TN0190100",
            "TX2270100",
            "UT0180300",
            "VT0120200",
            "VA1220000",
            "WA0340100",
            "WV0200200",
            "WI0130100",
            "WY0110100"
            ]

for ori2 in range(len(ori_list)):
    response2 = requests.get(f"https://api.usa.gov/crime/fbi/sapi/api/data/arrest/agencies/offense/{ori_list[ori2]}/all/{begin_year}/{end_year}?API_KEY={api_key}").json()
    try:
        simple_assault_cases.append(response2["results"][0]["simple_assault"])
        stolen_property_cases.append(response2["results"][0]["stolen_property"])
        rape_cases.append(response2["results"][0]["rape"])
    except IndexError:
        simple_assault_cases.append(np.nan)
        stolen_property_cases.append(np.nan)
        rape_cases.append(np.nan)
    # Printing queries
    print(f"Processing record {ori2 + 1}")

print("------")
print("Done")
print("------")

Processing record 1
Processing record 2
Processing record 3
Processing record 4
Processing record 5
Processing record 6
Processing record 7
Processing record 8
Processing record 9
Processing record 10
Processing record 11
Processing record 12
Processing record 13
Processing record 14
Processing record 15
Processing record 16
Processing record 17
Processing record 18
Processing record 19
Processing record 20
Processing record 21
Processing record 22
Processing record 23
Processing record 24
Processing record 25
Processing record 26
Processing record 27
Processing record 28
Processing record 29
Processing record 30
Processing record 31
Processing record 32
Processing record 33
Processing record 34
Processing record 35
Processing record 36
Processing record 37
Processing record 38
Processing record 39
Processing record 40
Processing record 41
Processing record 42
Processing record 43
Processing record 44
Processing record 45
Processing record 46
Processing record 47
Processing record 48
Processing record 49
Processing record 50
------
Done
------

In [59]:
print(simple_assault_cases)

[652, 66, 234, nan, 406, 1966, 417, 630, 261]

In [60]:
print(stolen_property_cases)

[125, 43, 35, nan, 53, 139, 34, 37, 38]

In [61]:
print(rape_cases)

[6, 3, 9, nan, 7, 53, 3, 18, 22]

In [64]:
df=pd.DataFrame(list(zip(ori_list, rape_cases, simple_assault_cases, stolen_property_cases)), 
               columns = ['Police Department', "Rape Cases", "Simple Assault Cases", "Stolen Property Cases"])
df

   Police Department  Rape Cases  Simple Assault Cases  Stolen Property Cases
0          AL0030100         3.0                 102.0                   13.0
1          AK0010300         5.0                 291.0                    4.0
2          AZ0072300       103.0                5726.0                  364.0
3          AR0600200        28.0                 947.0                  291.0
4          CA0340400        30.0                1309.0                  281.0
5          CODPD0000       143.0                3435.0                  132.0
6          CT0006400        17.0                1780.0                    9.0
7          DE0010100         5.0                 512.0                   26.0
8          FL0370300         NaN                   NaN                    NaN
9          GAAPD0000         NaN                   NaN                    NaN
10         HI0020000        51.0                2407.0                  449.0
11         ID0010100        54.0                 741.0                   21.0
12         IL0840200         NaN                   NaN                    NaN
13         INIPD0000        81.0                3206.0                  124.0
14         IA0770300        12.0                 299.0                    7.0
15         KS0890100         NaN                   NaN                    NaN
16         KY0370100         0.0                 190.0                   32.0
17         LA0170200        34.0                1467.0                  281.0
18         ME0060100         0.0                 104.0                    2.0
19         MD0020100         5.0                 162.0                    3.0
20         MA0130100        43.0                1612.0                  169.0
21         MI3351900        17.0                 791.0                   22.0
22         MN0620900        16.0                 984.0                   43.0
23         MS0250100         8.0                 445.0                  106.0
24         MO0260100         3.0                 260.0                    0.0
25         MT0250100         5.0                 239.0                    2.0
26         NB0550100        19.0                1301.0                   55.0
27         NV0130000         6.0                  46.0                   17.0
28         NH0071600         1.0                 340.0                   51.0
29         NJ0111100         6.0                 652.0                  125.0
30         NM0260100         3.0                  66.0                   43.0
31         NY0010100         9.0                 234.0                   35.0
32         NC0920100         NaN                   NaN                    NaN
33         ND0080100         7.0                 406.0                   53.0
34         OHCOP0000        53.0                1966.0                  139.0
35         OK0550400         3.0                 417.0                   34.0
36         OR0240200        18.0                 630.0                   37.0
37         PA0220200        22.0                 261.0                   38.0
38         RI0010200         1.0                  52.0                    0.0
39         SC0400100         9.0                 203.0                    8.0
40         SD0320100         4.0                 123.0                    2.0
41         TN0190100        12.0                3477.0                    2.0
42         TX2270100        89.0                3064.0                    5.0
43         UT0180300        13.0                 969.0                  128.0
44         VT0120200         1.0                  11.0                    0.0
45         VA1220000        11.0                1707.0                  114.0
46         WA0340100         5.0                 323.0                   32.0
47         WV0200200         1.0                 303.0                   62.0
48         WI0130100        35.0                 665.0                   15.0
49         WY0110100         1.0                 284.0                   27.0

In [55]:
# Census & gmaps API Keys
c = Census(api_key2, year=2018)

In [73]:
#Code used from in-class instructor presentation
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head(54)

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,27,Minnesota,5527358.0,37.9,68411.0,36245.0,547442.0,9.904225,2.156871
1,28,Mississippi,2988762.0,37.2,43567.0,23434.0,599795.0,20.068343,3.681658
2,29,Missouri,6090062.0,38.5,53560.0,29537.0,837930.0,13.758973,2.560861
3,30,Montana,1041732.0,39.8,52559.0,29765.0,139063.0,13.349211,2.153433
4,31,Nebraska,1904760.0,36.4,59116.0,31101.0,213790.0,11.223986,1.918614
5,32,Nevada,2922849.0,37.9,57598.0,29961.0,393431.0,13.460531,3.481124
6,33,New Hampshire,1343622.0,42.7,74057.0,38548.0,102352.0,7.617619,2.261946
7,34,New Jersey,8881845.0,39.8,79363.0,40895.0,904132.0,10.179552,3.209739
8,35,New Mexico,2092434.0,37.5,48059.0,26085.0,410389.0,19.612996,3.267487
9,36,New York,19618453.0,38.7,65323.0,37470.0,2797985.0,14.262006,3.071781
10,37,North Carolina,10155624.0,38.6,52413.0,29456.0,1523949.0,15.005961,3.078196
11,38,North Dakota,752201.0,35.1,63473.0,35373.0,79270.0,10.538407,1.553973
12,39,Ohio,11641879.0,39.3,54533.0,30304.0,1645986.0,14.138491,2.948253
13,40,Oklahoma,3918137.0,36.4,51424.0,27432.0,607810.0,15.512730,2.528931
14,41,Oregon,4081943.0,39.2,59393.0,32045.0,565247.0,13.847499,3.025152
15,42,Pennsylvania,12791181.0,40.7,59445.0,32889.0,1578949.0,12.344044,2.968960
16,44,Rhode Island,1056611.0,39.9,63296.0,34619.0,133055.0,12.592619,3.263169
17,45,South Carolina,4955925.0,39.2,51015.0,27986.0,770632.0,15.549711,3.092097
18,46,South Dakota,864289.0,36.8,56499.0,29801.0,113144.0,13.090992,1.880390
19,47,Tennessee,6651089.0,38.7,50972.0,28511.0,1046508.0,15.734386,2.879889
20,48,Texas,27885195.0,34.4,59570.0,30143.0,4213938.0,15.111739,2.664518
21,49,Utah,3045350.0,30.7,68374.0,28239.0,309904.0,10.176302,1.936001
22,50,Vermont,624977.0,42.9,60076.0,33238.0,67034.0,10.725835,2.220562
23,51,Virginia,8413774.0,38.1,71564.0,37763.0,893580.0,10.620442,2.587067
24,54,West Virginia,1829054.0,42.4,44921.0,25479.0,315464.0,17.247386,2.938678
25,53,Washington,7294336.0,37.6,70116.0,36888.0,821621.0,11.263822,2.718959
26,55,Wisconsin,5778394.0,39.3,59209.0,32018.0,668220.0,11.564113,2.159631
27,56,Wyoming,581836.0,37.3,62268.0,32295.0,63311.0,10.881245,2.352037
28,72,Puerto Rico,3386941.0,40.9,20166.0,12451.0,1495160.0,44.144849,6.198809
29,01,Alabama,4864680.0,38.9,48486.0,26846.0,829400.0,17.049426,3.040241
30,02,Alaska,738516.0,34.0,76715.0,35874.0,77865.0,10.543441,3.800459
31,04,Arizona,6946685.0,37.4,56213.0,29265.0,1092192.0,15.722492,3.026105
32,05,Arkansas,2990671.0,37.9,45726.0,25635.0,510337.0,17.064298,2.533679
33,06,California,39148760.0,36.3,71228.0,35021.0,5487141.0,14.016130,3.375591
34,08,Colorado,5531141.0,36.6,68811.0,36415.0,590504.0,10.675989,2.518938
35,09,Connecticut,3581504.0,40.8,76106.0,43056.0,348449.0,9.729125,3.515534
36,10,Delaware,949495.0,40.2,65627.0,33989.0,109798.0,11.563831,3.001701
37,11,District of Columbia,684498.0,33.9,82604.0,53321.0,109497.0,15.996687,4.291174
38,12,Florida,20598139.0,41.9,53267.0,30197.0,2983851.0,14.486022,3.024438
39,13,Georgia,10297484.0,36.5,55679.0,29523.0,1607714.0,15.612688,3.135271
40,16,Idaho,1687809.0,36.1,53089.0,26772.0,228882.0,13.560895,2.232006
41,15,Hawaii,1422029.0,38.9,78084.0,34035.0,137516.0,9.670408,2.252837
42,17,Illinois,12821497.0,37.9,63575.0,34463.0,1635603.0,12.756724,3.409422
43,18,Indiana,6637426.0,37.6,54325.0,28461.0,908359.0,13.685411,2.726494
44,19,Iowa,3132499.0,38.1,58580.0,31085.0,353634.0,11.289198,2.081916
45,20,Kansas,2908776.0,36.5,57422.0,30757.0,350280.0,12.042179,2.235923
46,21,Kentucky,4440204.0,38.7,48392.0,26948.0,772080.0,17.388390,2.890813
47,22,Louisiana,4663616.0,36.6,47942.0,27027.0,878394.0,18.835041,3.213172
48,23,Maine,1332813.0,44.6,55425.0,31253.0,161743.0,12.135461,2.416168
49,24,Maryland,6003435.0,38.6,81868.0,40517.0,553496.0,9.219655,3.016423
50,25,Massachusetts,6830193.0,39.4,77378.0,41794.0,710305.0,10.399487,2.978891
51,26,Michigan,9957488.0,39.7,54938.0,30336.0,1457008.0,14.632285,3.223785

In [65]:
ori_list3 =["AL0030100",
           "AK0010300",
           "AZ0072300",
           "AR0600200",
           "CA0340400",
           "CODPD0000",
           "CT0006400",
           "DE0010100",
           "FL0370300",
           "GAAPD0000"
           ]
female =[]
male =[]
begin_year = 2018
end_year = 2018
print("Beginning Data Retrieval")
print("------------------------")
for ori in range(len(ori_list)):
    response = requests.get(f"https://api.usa.gov/crime/fbi/sapi/api/police-employment/agencies/{ori_list[ori]}/{begin_year}/{end_year}?API_KEY={api_key}").json()
    #print(response)
    try:
        print(f"Processing record {ori + 1}")
        female.append(response["results"][0]["female_officer_ct"])
        male.append(response["results"][0]["male_officer_ct"])
    except:
        print("Not found")
        pass
print("------------------------")
print("Data Retrieval Complete")
print("------------------------")

Beginning Data Retrieval
------------------------
Processing record 1
Processing record 2
Processing record 3
Processing record 4
Processing record 5
Processing record 6
Processing record 7
Processing record 8
Processing record 9
Processing record 10
Processing record 11
Processing record 12
Processing record 13
Processing record 14
Processing record 15
Processing record 16
Processing record 17
Processing record 18
Processing record 19
Processing record 20
Processing record 21
Processing record 22
Processing record 23
Processing record 24
Processing record 25
Processing record 26
Processing record 27
Processing record 28
Processing record 29
Processing record 30
Processing record 31
Processing record 32
Processing record 33
Processing record 34
Processing record 35
Processing record 36
Processing record 37
Processing record 38
Processing record 39
Processing record 40
Processing record 41
Processing record 42
Processing record 43
Processing record 44
Processing record 45
Processing record 46
Processing record 47
Processing record 48
Processing record 49
Processing record 50
------------------------
Data Retrieval Complete
------------------------

In [71]:
# codes for creating dataframe
officer_df = pd.DataFrame({"Police Department": ori_list, "Male Officers": male, "Female Officers" : female})
officer_df["Total Number"]=officer_df["Male Officers"]+officer_df["Female Officers"]

In [72]:
officer_df.head(51)

   Police Department  Male Officers  Female Officers  Total Number
0          AL0030100          380.0             94.0         474.0
1          AK0010300           42.0              5.0          47.0
2          AZ0072300         2524.0            395.0        2919.0
3          AR0600200          475.0            100.0         575.0
4          CA0340400          549.0            102.0         651.0
5          CODPD0000         1309.0            208.0        1517.0
6          CT0006400          346.0             48.0         394.0
7          DE0010100           95.0              6.0         101.0
8          FL0370300          309.0             68.0         377.0
9          GAAPD0000         1283.0            252.0        1535.0
10         HI0020000         1710.0            232.0        1942.0
11         ID0010100          260.0             32.0         292.0
12         IL0840200          209.0             30.0         239.0
13         INIPD0000         1777.0            303.0        2080.0
14         IA0770300            NaN              NaN           NaN
15         KS0890100          237.0             30.0         267.0
16         KY0370100           55.0              2.0          57.0
17         LA0170200          575.0             56.0         631.0
18         ME0060100           41.0              4.0          45.0
19         MD0020100          106.0             13.0         119.0
20         MA0130100         1839.0            283.0        2122.0
21         MI3351900          149.0             39.0         188.0
22         MN0620900          540.0             91.0         631.0
23         MS0250100            NaN              NaN           NaN
24         MO0260100           82.0              6.0          88.0
25         MT0250100           45.0              7.0          52.0
26         NB0550100          288.0             56.0         344.0
27         NV0130000           90.0              5.0          95.0
28         NH0071600           69.0             13.0          82.0
29         NJ0111100          246.0             41.0         287.0
30         NM0260100          131.0             19.0         150.0
31         NY0010100          286.0             30.0         316.0
32         NC0920100          656.0             76.0         732.0
33         ND0080100          114.0             13.0         127.0
34         OHCOP0000         1666.0            204.0        1870.0
35         OK0550400           89.0              7.0          96.0
36         OR0240200          173.0             17.0         190.0
37         PA0220200          121.0             18.0         139.0
38         RI0010200           35.0              3.0          38.0
39         SC0400100          301.0             62.0         363.0
40         SD0320100           23.0              3.0          26.0
41         TN0190100         1299.0            136.0        1435.0
42         TX2270100         1663.0            188.0        1851.0
43         UT0180300          432.0             42.0         474.0
44         VT0120200           13.0              2.0          15.0
45         VA1220000          603.0            134.0         737.0
46         WA0340100           62.0             12.0          74.0
47         WV0200200          156.0              7.0         163.0
48         WI0130100          341.0            141.0         482.0
49         WY0110100           96.0             11.0         107.0

In [77]:
file = "Final Data File v2.csv"
file_df = pd.read_csv(file)
file_df

,State,State Ab.,State Capital,Population,ORI Code,No. of Officers,Year of Data,No. of Rapes,No. of Simple Assaults,No. of Stolen Property Cases,Total Crimes,School Ratings,Unemployment Rate,Avg. Income,Unnamed: 14,"Crimes(R,SA,SP) Per Citizen"
0,ALABAMA,AL,Montgomery,"198,525",AL0030100,474.000000,2018.000000,3.000000,102.000000,13.000000,118.000000,4.350000,3.040000,"$48,486.00",NaN,0.000594
1,ALASKA,AK,Juneau,"32,113",AK0010300,47.000000,2018.000000,5.000000,291.000000,4.000000,300.000000,6.500000,3.800000,"$76,715.00",NaN,0.009342
2,ARIZONA,AZ,Phoenix,"1,680,992",AZ0072300,2919.000000,2018.000000,103.000000,5726.000000,364.000000,6193.000000,4.720000,3.030000,"$56,213.00",NaN,0.003684
3,ARKANSAS,AR,Little Rock,"197,312",AR0600200,575.000000,2018.000000,28.000000,947.000000,291.000000,1266.000000,3.640000,2.530000,"$45,726.00",NaN,0.006416
4,CALIFORNIA,CA,Sacramento,"513,624",CA0340400,651.000000,2018.000000,30.000000,1309.000000,281.000000,1620.000000,4.630000,3.380000,"$71,228.00",NaN,0.003154
5,COLORADO,CO,Denver,"727,211",CODPD0000,1517.000000,2018.000000,143.000000,3435.000000,132.000000,3710.000000,3.750000,2.520000,"$68,811.00",NaN,0.005102
6,CONNECTICUT,CT,Hartford,"122,105",CT0006400,394.000000,2018.000000,17.000000,1780.000000,9.000000,1806.000000,2.800000,3.520000,"$76,106.00",NaN,0.014791
7,DELAWARE,DE,Dover,"38,079",DE0010100,101.000000,2018.000000,5.000000,512.000000,26.000000,543.000000,NaN,3.000000,"$65,627.00",NaN,0.014260
8,FLORIDA,FL,Tallahassee,"194,500",FL0370300,377.000000,2017.000000,45.000000,713.000000,8.000000,766.000000,5.000000,3.020000,"$53,267.00",NaN,0.003938
9,GEORGIA,GA,Atlanta,"506,811",GAAPD0000,1535.000000,2017.000000,45.000000,2144.000000,511.000000,2700.000000,3.850000,3.140000,"$55,679.00",NaN,0.005327
10,HAWAII,HI,Honolulu,"345,064",HI0020000,1942.000000,2018.000000,51.000000,2407.000000,449.000000,2907.000000,6.330000,2.250000,"$78,084.00",NaN,0.008425
11,IDAHO,ID,Boise,"228,959",ID0010100,292.000000,2018.000000,54.000000,741.000000,21.000000,816.000000,4.110000,2.230000,"$53,089.00",NaN,0.003564
12,ILLINOIS,IL,Springfield,"114,230",IL0840200,239.000000,2018.000000,0.000000,0.000000,0.000000,0.000000,3.840000,3.410000,"$63,575.00",NaN,0.000000
13,INDIANA,IN,Indianapolis,"876,384",INIPD0000,2080.000000,2018.000000,81.000000,3206.000000,124.000000,3411.000000,2.780000,2.730000,"$54,325.00",NaN,0.003892
14,IOWA,IA,Des Moines,"214,237",IA0770300,0.000000,2018.000000,12.000000,299.000000,7.000000,318.000000,1.140000,2.080000,"$58,580.00",NaN,0.001484
15,KANSAS,KS,Topeka,"125,310",KS0890100,267.000000,2018.000000,0.000000,0.000000,0.000000,0.000000,3.570000,2.240000,"$57,422.00",NaN,0.000000
16,KENTUCKY,KY,Frankfort,"27,679",KY0370100,57.000000,2018.000000,0.000000,190.000000,32.000000,222.000000,6.000000,2.890000,"$48,392.00",NaN,0.008021
17,LOUISIANA,LA,Baton Rouge,"220,236",LA0170200,631.000000,2018.000000,34.000000,1467.000000,281.000000,1782.000000,3.380000,3.210000,"$47,942.00",NaN,0.008091
18,MAINE,ME,Augusta,"18,681",ME0060100,45.000000,2018.000000,0.000000,104.000000,2.000000,106.000000,3.830000,2.420000,"$55,425.00",NaN,0.005674
19,MARYLAND,MD,Annapolis,"39,174",MD0020100,119.000000,2018.000000,5.000000,162.000000,3.000000,170.000000,3.670000,3.020000,"$81,868.00",NaN,0.004340
20,MASSACHUSETTS,MA,Boston,"692,600",MA0130100,2122.000000,2018.000000,43.000000,1612.000000,169.000000,1824.000000,2.970000,2.980000,"$77,378.00",NaN,0.002634
21,MICHIGAN,MI,Lansing,"118,210",MI3351900,188.000000,2018.000000,17.000000,791.000000,22.000000,830.000000,3.340000,3.220000,"$54,938.00",NaN,0.007021
22,MINNESOTA,MN,Saint Paul,"308,096",MN0620900,631.000000,2018.000000,16.000000,984.000000,43.000000,1043.000000,3.690000,2.160000,"$68,411.00",NaN,0.003385
23,MISSISSIPPI,MS,Jackson,"160,628",MS0250100,0.000000,2018.000000,8.000000,445.000000,106.000000,559.000000,2.000000,3.680000,"$43,567.00",NaN,0.003480
24,MISSOURI,MO,Jefferson City,"42,838",MO0260100,88.000000,2018.000000,3.000000,260.000000,0.000000,263.000000,5.500000,2.560000,"$53,560.00",NaN,0.006139
25,MONTANA,MT,Helena,"32,315",MT0250100,52.000000,2018.000000,5.000000,239.000000,2.000000,246.000000,5.500000,2.150000,"$52,559.00",NaN,0.007613
26,NEBRASKA,NE,Lincoln,"289,102",NB0550100,344.000000,2018.000000,19.000000,1301.000000,55.000000,1375.000000,2.500000,1.920000,"$59,116.00",NaN,0.004756
27,NEVADA,NV,Carson City,"55,916",NV0130000,95.000000,2018.000000,6.000000,46.000000,17.000000,69.000000,3.000000,3.480000,"$57,598.00",NaN,0.001234
28,NEW HAMPSHIRE,NH,Concord,"43,627",NH0071600,82.000000,2018.000000,1.000000,340.000000,51.000000,392.000000,3.000000,2.260000,"$74,057.00",NaN,0.008985
29,NEW JERSEY,NJ,Trenton,"83,203",NJ0111100,287.000000,2018.000000,6.000000,652.000000,125.000000,783.000000,2.970000,3.200000,"$79,363.00",NaN,0.009411
30,NEW MEXICO,NM,Santa Fe,"84,683",NM0260100,150.000000,2018.000000,3.000000,66.000000,43.000000,112.000000,5.350000,3.270000,"$48,059.00",NaN,0.001323
31,NEW YORK,NY,Albany,"96,460",NY0010100,316.000000,2018.000000,9.000000,234.000000,35.000000,278.000000,4.740000,3.070000,"$65,323.00",NaN,0.002882
32,NORTH CAROLINA,NC,Raleigh,"474,069",NC0920100,732.000000,2018.000000,0.000000,0.000000,0.000000,0.000000,6.130000,3.080000,"$52,413.00",NaN,0.000000
33,NORTH DAKOTA,ND,Bismarck,"73,529",ND0080100,127.000000,2018.000000,7.000000,406.000000,53.000000,466.000000,6.500000,1.550000,"$63,473.00",NaN,0.006338
34,OHIO,OH,Columbus,"898,553",OHCOP0000,1870.000000,2018.000000,53.000000,1966.000000,139.000000,2158.000000,3.330000,2.950000,"$54,533.00",NaN,0.002402
35,OKLAHOMA,OK,Oklahoma City,"655,057",OK0550400,96.000000,2018.000000,3.000000,417.000000,34.000000,454.000000,4.480000,2.530000,"$51,424.00",NaN,0.000693
36,OREGON,OR,Salem,"174,365",OR0240200,190.000000,2018.000000,18.000000,630.000000,37.000000,685.000000,5.800000,3.030000,"$59,393.00",NaN,0.003929
37,PENNSYLVANIA,PA,Harrisburg,"49,528",PA0220200,139.000000,2018.000000,22.000000,261.000000,38.000000,321.000000,4.250000,2.970000,"$59,445.00",NaN,0.006481
38,RHODE ISLAND,RI,Providence,"179,883",RI0010200,38.000000,2018.000000,1.000000,52.000000,0.000000,53.000000,4.250000,3.260000,"$63,296.00",NaN,0.000295
39,SOUTH CAROLINA,SC,Columbia,"131,674",SC0400100,363.000000,2018.000000,9.000000,203.000000,8.000000,220.000000,3.690000,3.090000,"$51,015.00",NaN,0.001671
40,SOUTH DAKOTA,SD,Pierre,"13,646",SD0320100,26.000000,2018.000000,4.000000,123.000000,2.000000,129.000000,5.000000,1.880000,"$56,499.00",NaN,0.009453
41,TENNESSEE,TN,Nashville,"670,820",TN0190100,1435.000000,2018.000000,12.000000,3477.000000,2.000000,3491.000000,3.470000,2.880000,"$50,972.00",NaN,0.005204
42,TEXAS,TX,Austin,"978,908",TX2270100,1851.000000,2018.000000,89.000000,3064.000000,5.000000,3158.000000,4.960000,2.660000,"$59,570.00",NaN,0.003226
43,UTAH,UT,Salt Lake City,"200,567",UT0180300,474.000000,2018.000000,13.000000,969.000000,128.000000,1110.000000,4.600000,1.940000,"$68,374.00",NaN,0.005534
44,VERMONT,VT,Montpelier,"7,855",VT0120200,15.000000,2018.000000,1.000000,11.000000,0.000000,12.000000,4.500000,2.220000,"$60,076.00",NaN,0.001528
45,VIRGINIA,VA,Richmond,"230,436",VA1220000,737.000000,2018.000000,11.000000,1707.000000,114.000000,1832.000000,3.870000,2.590000,"$71,564.00",NaN,0.007950
46,WASHINGTON,WA,Olympia,"46,478",WA0340100,74.000000,2018.000000,5.000000,323.000000,32.000000,360.000000,7.500000,2.720000,"$70,116.00",NaN,0.007746
47,WEST VIRGINIA,WV,Charleston,"46,536",WV0200200,163.000000,2018.000000,1.000000,303.000000,62.000000,366.000000,3.500000,2.940000,"$44,921.00",NaN,0.007865
48,WISCONSIN,WI,Madison,"259,680",WI0130100,482.000000,2018.000000,35.000000,665.000000,15.000000,715.000000,4.200000,2.160000,"$59,209.00",NaN,0.002753
49,WYOMING,WY,Cheyenne,"64,235",WY0110100,107.000000,2018.000000,1.000000,284.000000,27.000000,312.000000,3.500000,2.350000,"$62,268.00",NaN,0.004857
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,Mean,550.720000,2017.960000,21.640000,947.320000,78.440000,1047.400000,4.200000,2.760000,"$60,181.00",NaN,0.004938
52,NaN,NaN,NaN,NaN,1SD,694.171450,0.195959,29.504413,1161.719939,117.784406,1255.274265,1.245625,0.511105,"$9,806.90",NaN,0.003373
53,NaN,NaN,NaN,NaN,2SD,1388.342899,0.391918,59.008826,2323.439879,235.568813,2510.548530,2.491250,1.022210,"$19,613.81",NaN,0.006746
54,NaN,NaN,NaN,NaN,3SD,2082.514349,0.587878,88.513240,3485.159818,353.353219,3765.822795,7.473749,3.066630,"$29,420.71",NaN,0.010119

In [80]:
city = file_df['State Capital'].tolist()
latitude =[]
longitude = []

for city in range(len(ori_list)):
    response2 = requests.get(target_url.json()
    try:
        latitude.append(response2["results"][0]["geometry"]["location"]["lat"])
        longitude.append(response2["results"][0]["geometry"]["location"]["lng"]

['Montgomery', 'Juneau', 'Phoenix', 'Little Rock', 'Sacramento', 'Denver', 'Hartford', 'Dover', 'Tallahassee', 'Atlanta', 'Honolulu', 'Boise', 'Springfield', 'Indianapolis', 'Des Moines', 'Topeka', 'Frankfort', 'Baton Rouge', 'Augusta', 'Annapolis', 'Boston', 'Lansing', 'Saint Paul', 'Jackson', 'Jefferson City', 'Helena', 'Lincoln', 'Carson City', 'Concord', 'Trenton', 'Santa Fe', 'Albany', 'Raleigh', 'Bismarck', 'Columbus', 'Oklahoma City', 'Salem', 'Harrisburg', 'Providence', 'Columbia', 'Pierre', 'Nashville', 'Austin', 'Salt Lake City', 'Montpelier', 'Richmond', 'Olympia', 'Charleston', 'Madison', 'Cheyenne', nan, nan, nan, nan, nan]

In [ ]:
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, gkey)