In [1]:
import pandas as pd
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
csvfile = "correlation.csv"
df = pd.read_csv(csvfile)
df

,State,State Ab.,State Capital,Population,ORI Code,Num_Officers,Total_Crimes,School_Ratings,Unemployment_Rate,Avg_Income,"Crimes(R,SA,SP) Per Citizen"
0,ALABAMA,AL,Montgomery,"198,525",AL0030100,474,118,4.35,3.04,48486,0.000594
1,ALASKA,AK,Juneau,"32,113",AK0010300,47,300,6.50,3.80,76715,0.009342
2,ARIZONA,AZ,Phoenix,"1,680,992",AZ0072300,2919,6193,4.72,3.03,56213,0.003684
3,ARKANSAS,AR,Little Rock,"197,312",AR0600200,575,1266,3.64,2.53,45726,0.006416
4,CALIFORNIA,CA,Sacramento,"513,624",CA0340400,651,1620,4.63,3.38,71228,0.003154
5,COLORADO,CO,Denver,"727,211",CODPD0000,1517,3710,3.75,2.52,68811,0.005102
6,CONNECTICUT,CT,Hartford,"122,105",CT0006400,394,1806,2.80,3.52,76106,0.014791
7,DELAWARE,DE,Dover,"38,079",DE0010100,101,543,0.00,3.00,65627,0.014260
8,FLORIDA,FL,Tallahassee,"194,500",FL0370300,377,766,5.00,3.02,53267,0.003938
9,GEORGIA,GA,Atlanta,"506,811",GAAPD0000,1535,2700,3.85,3.14,55679,0.005327
10,HAWAII,HI,Honolulu,"345,064",HI0020000,1942,2907,6.33,2.25,78084,0.008425
11,IDAHO,ID,Boise,"228,959",ID0010100,292,816,4.11,2.23,53089,0.003564
12,ILLINOIS,IL,Springfield,"114,230",IL0840200,239,0,3.84,3.41,63575,0.000000
13,INDIANA,IN,Indianapolis,"876,384",INIPD0000,2080,3411,2.78,2.73,54325,0.003892
14,IOWA,IA,Des Moines,"214,237",IA0770300,0,318,1.14,2.08,58580,0.001484
15,KANSAS,KS,Topeka,"125,310",KS0890100,267,0,3.57,2.24,57422,0.000000
16,KENTUCKY,KY,Frankfort,"27,679",KY0370100,57,222,6.00,2.89,48392,0.008021
17,LOUISIANA,LA,Baton Rouge,"220,236",LA0170200,631,1782,3.38,3.21,47942,0.008091
18,MAINE,ME,Augusta,"18,681",ME0060100,45,106,3.83,2.42,55425,0.005674
19,MARYLAND,MD,Annapolis,"39,174",MD0020100,119,170,3.67,3.02,81868,0.004340
20,MASSACHUSETTS,MA,Boston,"692,600",MA0130100,2122,1824,2.97,2.98,77378,0.002634
21,MICHIGAN,MI,Lansing,"118,210",MI3351900,188,830,3.34,3.22,54938,0.007021
22,MINNESOTA,MN,Saint Paul,"308,096",MN0620900,631,1043,3.69,2.16,68411,0.003385
23,MISSISSIPPI,MS,Jackson,"160,628",MS0250100,0,559,2.00,3.68,43567,0.003480
24,MISSOURI,MO,Jefferson City,"42,838",MO0260100,88,263,5.50,2.56,53560,0.006139
25,MONTANA,MT,Helena,"32,315",MT0250100,52,246,5.50,2.15,52559,0.007613
26,NEBRASKA,NE,Lincoln,"289,102",NB0550100,344,1375,2.50,1.92,59116,0.004756
27,NEVADA,NV,Carson City,"55,916",NV0130000,95,69,3.00,3.48,57598,0.001234
28,NEW HAMPSHIRE,NH,Concord,"43,627",NH0071600,82,392,3.00,2.26,74057,0.008985
29,NEW JERSEY,NJ,Trenton,"83,203",NJ0111100,287,783,2.97,3.20,79363,0.009411
30,NEW MEXICO,NM,Santa Fe,"84,683",NM0260100,150,112,5.35,3.27,48059,0.001323
31,NEW YORK,NY,Albany,"96,460",NY0010100,316,278,4.74,3.07,65323,0.002882
32,NORTH CAROLINA,NC,Raleigh,"474,069",NC0920100,732,0,6.13,3.08,52413,0.000000
33,NORTH DAKOTA,ND,Bismarck,"73,529",ND0080100,127,466,6.50,1.55,63473,0.006338
34,OHIO,OH,Columbus,"898,553",OHCOP0000,1870,2158,3.33,2.95,54533,0.002402
35,OKLAHOMA,OK,Oklahoma City,"655,057",OK0550400,96,454,4.48,2.53,51424,0.000693
36,OREGON,OR,Salem,"174,365",OR0240200,190,685,5.80,3.03,59393,0.003929
37,PENNSYLVANIA,PA,Harrisburg,"49,528",PA0220200,139,321,4.25,2.97,59445,0.006481
38,RHODE�ISLAND,RI,Providence,"179,883",RI0010200,38,53,4.25,3.26,63296,0.000295
39,SOUTH CAROLINA,SC,Columbia,"131,674",SC0400100,363,220,3.69,3.09,51015,0.001671
40,SOUTH DAKOTA,SD,Pierre,"13,646",SD0320100,26,129,5.00,1.88,56499,0.009453
41,TENNESSEE,TN,Nashville,"670,820",TN0190100,1435,3491,3.47,2.88,50972,0.005204
42,TEXAS,TX,Austin,"978,908",TX2270100,1851,3158,4.96,2.66,59570,0.003226
43,UTAH,UT,Salt Lake City,"200,567",UT0180300,474,1110,4.60,1.94,68374,0.005534
44,VERMONT,VT,Montpelier,"7,855",VT0120200,15,12,4.50,2.22,60076,0.001528
45,VIRGINIA,VA,Richmond,"230,436",VA1220000,737,1832,3.87,2.59,71564,0.007950
46,WASHINGTON,WA,Olympia,"46,478",WA0340100,74,360,7.50,2.72,70116,0.007746
47,WEST VIRGINIA,WV,Charleston,"46,536",WV0200200,163,366,3.50,2.94,44921,0.007865
48,WISCONSIN,WI,Madison,"259,680",WI0130100,482,715,4.20,2.16,59209,0.002753
49,WYOMING,WY,Cheyenne,"64,235",WY0110100,107,312,3.50,2.35,62268,0.004857

In [3]:
corr_df = df.corr()
corr_df

,Num_Officers,Total_Crimes,School_Ratings,Unemployment_Rate,Avg_Income,"Crimes(R,SA,SP) Per Citizen"
Num_Officers,1.000000,0.900024,-0.015123,0.045965,0.084469,-0.106311
Total_Crimes,0.900024,1.000000,-0.074269,0.029864,0.076492,0.098801
School_Ratings,-0.015123,-0.074269,1.000000,-0.094481,0.029413,-0.077219
Unemployment_Rate,0.045965,0.029864,-0.094481,1.000000,-0.013991,-0.010716
Avg_Income,0.084469,0.076492,0.029413,-0.013991,1.000000,0.317350
"Crimes(R,SA,SP) Per Citizen",-0.106311,0.098801,-0.077219,-0.010716,0.317350,1.000000

In [19]:
corr_df.to_csv("correlation_result.csv", index=False, header=True)